body {background: WhiteSmoke url(Imagens/bg.png) no-repeat center; background-attachment: fixed;  color:#004d00;font-family: Verdana;}
hr {border-top: 1px solid #004d00;}
a:link{text-decoration: none;color: SeaGreen;font-size: 20;font-weight: bold;}
a:visited{text-decoration: none;color: SeaGreen;}
a:hover{text-decoration: none;color: MediumSeaGreen;}
h1{colo#004d00;}
p{color:#006600;}
.barra{position: sticky;z-index: 1; top:0;background-color: white; font-family:Verdana;}
.barra uin a:visited{color: black;}
.barra uin a:link{color: black;}
input[type="text"]{font-size:15px;width:190;}